*{
    font-family: "Azeret Mono", monospace;
    margin:10px;
}
.nav{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
}
.btn{
    font-size: 20px;
    border: 2px solid black;
    background: rgb(12, 12, 12);
    color: antiquewhite; 
     padding: 15px;
    border-radius: 25px;

}
.btn>a{
    color: aliceblue;
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
}
.hero{
    background-image: url(./assets/Hero-bg.png);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border: 2px dashed gray;
    text-align: center;
    width: 100%;
}
.sec{
    margin: 35px;
    background-color: rgba(227, 230, 233, 0.494);
    padding: 40px;
}
.web{
    text-align: center;
}
.card{
    display: flex;
    padding: 40px;
    margin-bottom: 25px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.506);
}
.card .fi {
    margin: 20px;
    line-height: 25px;
    padding-top: 15px;
}
.card2{
    margin-bottom: 25px;
    line-height: 25px;
    padding-top: 15px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.506);
}
.card p , .card2 p{
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}
.ins{
    text-align: center;
    padding: 20px;
    margin: 25px;

}
.ins p{
    padding: 25px;
}

.targ{
    display: flex;
    border: 2px solid black;
    align-items: center;
    text-align: left;
    padding: 45px;
    border-radius: 15px;
    margin-top: 25px;

    
}
main{
    background-image:linear-gradient(rgba(155, 147, 147, 0.314),rgb(47, 46, 46)) ,url(./assets/handshake.jpg);
   background-size: cover;
   height: 500px;
   border-radius: 20px;
    background-repeat: no-repeat;

}
.insha{
    padding: 50px;
    text-align: center;
    padding-top: 100px;
    color: #ddd6d6;
}
.insha input{
    border: 1px solid rgb(16, 15, 15);
    outline: none;
    padding: 25px;
    width: 450px;
    border-radius: 25px;
    font-size: 15px;
}
.insha .btn{
    padding: 25px;
    width: 200px;  
    border: none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    font-size: 10px;

}
.box1,.box2,.box3{
    background: rgba(255, 248, 30, 0.05);
    width: 250px;
    padding: 25px;
    height: 300px;
    padding-top: 55px;
    border-radius: 25px;
}

.box2{
background: rgba(255, 76, 30, 0.05);
}
.box3{

    background: rgba(0, 76, 232, 0.05);
}

.boxup{
    display: flex;
    justify-content: space-around;
}